{% extends "ptp/base.html" %}
{% block forms %}
    <div class="alert alert-info">
        <h4>bPTP: a Bayesian implementation of the PTP model for species delimitation</h4>
    </div>
    <div class="alert">
        <h5>Input a single phylogenetic tree - to run on multiple trees, please download the <a href = "https://github.com/zhangjiajie/SpeciesCounting">bPTP and PTP standalone</a></h5>
    </div>
    <p>
    <form action="/ptp/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ pform.as_p }}
    <input type="submit" value="Submit" />
    </form>
    </p>
{% endblock %}
