{% extends "ptp/base.html" %}
{% block forms %}
    <div class = "bd-4">
        <p>
        <h4>Web interface for bPTP: a Bayesian implementation of the PTP model for species delimitation</h4> 
        Please cite: 
        <a href = "http://bioinformatics.oxfordjournals.org/content/29/22/2869">
        <b>A General Species Delimitation Method with Applications to Phylogenetic Placements.</b> 
        <b>Zhang, Jiajie, Kapli, P., Pavlidis, P., and Stamatakis, A.</b> 
        <i>Bioinformatics (Oxford, England)(2013), 29 (22): 2869-2876</i> 
        </a> 
        </p>
        <h5>bPTP is an updated version of the original maximal likelihood PTP, it adds Bayesian support (BS) values to delimited species on the input tree. 
        Higher BS value on a node indicates all descendants from this node are more likely to be from one species.
        Note this web server only allows a single phylogenetic tree as input - 
        to run on multiple trees (from Bayesian analysis or bootstrap), 
        please download the <a href = "https://github.com/zhangjiajie/SpeciesCounting">bPTP and PTP standalone</a>.
        </h5>
        
        <h5>
        If you are not familiar with Bayesian analysis, please <a href = "/help/">read this</a> first.
        </h5>
        
        <h5>
         The server will only accept Newick format or NEXUS format with no annotations on the tree, the tree should be strictly bifurcating. <br />
         Here is an <a href = "/static/img/example.tre">example of Newick format</a> and an <a href = "/static/img/example.nex">example of NEXUS format</a>.
        </h5>
        
<span style="color:red">
<b>Special note on taxa name:</b>
A valid taxa name should only contains letters, numbers, _ and -; and should NOT be pure numbers. 
Any other characters, in particular space, $, #, %, ( and ),  will cause errors! 
</span>
        
    </div>

    <p>
    <form action="/ptp/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ pform.as_p }}
    <input type="submit" value="Submit" />
    </form>
    </p>
{% endblock %}
