<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Species delimitation server{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="species delimitation, PTP, GMYC, PhyloMap">
    <meta name="author" content="Jiajie Zhang">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      .bd-4 {
          border: 2px solid DarkOliveGreen;
          padding: 10px;
          margin-top: 5px
      }
      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="/static/js/processing.min.js"></script>
    <script type="application/javascript">
         var ftaxa = "{{ MEDIA_URL }}{{jobid}}/output.phylomap.taxa.txt"; 
         var fline = "{{ MEDIA_URL }}{{jobid}}/output.phylomap.line.txt";
         function save_screen(id) {
            var pjs = Processing.getInstanceById(id);
            pjs.save_screen();
         }
         function clear_screen(id) {
            var pjs = Processing.getInstanceById(id);
            pjs.clear_screen();
         }
     </script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <!--<div class="container-fluid"> -->
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="http://www.exelixis-lab.org/" class="navbar-link">The Exelixis Lab</a>
            </p>
            <ul class="nav">
              <!-- <li class="active"><a href="#">Home</a></li> -->
              <li class = "active"> <a href="/ptp/">bPTP web server</a> </li>
              <li><a href="/gmyc/">GMYC web server</a></li>
              <li><a href="http://sco.h-its.org/exelixis/web/software/PTP/index.html">About PTP and bPTP</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <!--<div class="container-fluid"> -->
    <div class="container">
      
      <div class="row-fluid">
       <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              {% block sidebar %}
              <li class="nav-header">bPTP species delimitation</li>
              <li class="active"><a href="/ptp/">bPTP web server</a></li>
              <li><a href="/findjob/">Look up jobs</a></li>
              <li><a href="/help/">Help</a></li>
              <li><a href="http://sco.h-its.org/exelixis/web/software/PTP/index.html">About PTP and bPTP</a></li>
              <li><a href="http://bioinformatics.oxfordjournals.org/content/29/22/2869">PTP paper</a></li>
              <li><a href="https://github.com/zhangjiajie/SpeciesCounting">Download PTP and bPTP</a></li>
              {% endblock %}
            </ul>
          </div><!--/.well -->
        </div>
      
        <div class="span9">
            <h4>PhyloMap-PTP: PhyloMap visualization of PTP species delimitation result</h4> 
            <canvas id="phylomap_sketch" data-processing-sources="/static/js/phylomap.pde"></canvas>
            <p>
                <button type="button" onclick="save_screen('phylomap_sketch')">Save Screen</button>
                <button type="button" onclick="clear_screen('phylomap_sketch')">Clear Screen</button>
            </p>
            <p>
                Usage: Move mouse cursor on the data point to show the taxa name; 
                       Click the left mouse button to show all taxa name belong to this species;
                       Click the right mouse button to fix the taxa name on screen;
                       Press C to clear all taxa names on screen;
                       Press S to save the screen.
            </p>
            <p>
            {{ result|safe }}
            </p>
            
            <div class = "bd-4">
                <h4>What is PhyloMap-PTP and how to interpret the results </h4>
                <p> Principal Coordinates Analysis (PCoA) has been widely used in species delimitation exercises. Google "pcoa species delimitation" in google scholar, there will 
                be many examples. PhyloMap-PTP is a visualization tool that combines PCoA, PTP and species tree mapping. The original PhyloMap can be find here: <a href = "http://www.biomedcentral.com/1471-2105/12/248"> 
                "J. Zhang, A. M. Mamlouk, 
                T. Martinetz, S. Chang, J. Wang, and R. Hilgenfeld. PhyloMap: an algorithm for visualizing relationships of large sequence data sets and its application to the 
                influenza A virus genome. BMC bioinformatics, 12:248, Jan. 2011." 
                </a>
                PhyloMap-PTP replaces the "Neural-Gas" clustering in the original paper with PTP results. It also avaliable as a standalone version <a href = "https://github.com/zhangjiajie/SpeciesCounting">here</a>. 
                </p>    
                
                <p>
                    Each circle in the plot represents a taxa, different species are colored differently. The species tree was mapped onto the plot, 
                    one random taxa was chosen from each species as a representative for that species (the leaf node of the mapped species tree.) 
                    In the species tree, thicker line means the branch length in the original species tree is longer than the branch in the PhyloMap plot.
                    The horizontal axis is the first axis, and the vertial axis is the second axis. Each axis explains certain amount of variance of the 
                    data set. Sometimes, the first axis only separate outgroup taxa from other neighboring taxa, this suggests it might be better to remove the 
                    outgroups and rerun the analysis. Note that, neighboring taxa in the PCoA might not really close to each other. Their true distances 
                    should be measured alone the branches connecting them.
                     
                </p>   
            </div>    
            
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Jiajie Zhang 2013-2014     <span class="pull-right">Contact: bestzhangjiajie[at]gmail.com</span></p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
  </body>
</html>
