{% extends "gmyc/base.html" %}
{% block forms %}
    <div class = "bd-4">
        <p>
         <h4>Web interface for single and multiple threshold GMYC</h4>
        
        <p>
        The backend of this web server runs the original <a href = "http://barralab.bio.ic.ac.uk/downloads.html"> R implementation</a>
        of the <a href = "http://sysbio.oxfordjournals.org/content/62/5/707">GMYC model</a> authored by Tomochika Fujisawa and Tim Barraclough.
        To run the R GMYC locally, please check <a href = "http://tmfujis.wordpress.com/2013/04/23/how-to-run-gmyc/">Tomochika Fujisawa's blog</a>.
        There is also a python implementation of the single threshold GMYC model in my <a href="https://github.com/zhangjiajie/SpeciesCounting">GitHub repository</a>, 
        and <a href = "http://www.biomedcentral.com/1471-2148/12/196">a Bayesian implementation of the single threshold GMYC in R</a> by 
        <a href = https://sites.google.com/site/noahmreid/>Noah M. Reid</a>. 
        
        </p>
        <p>
        I encourage you to try both GMYC and <a href = "/ptp/">PTP model</a> on your data. They are based on quite different models, but 
        if they give you similar delimitations, you can be more confident on the results.
        </p>
        
        <h5>
            Note the input tree should be strictly ultrametric and bifurcating and with no zero branch lengths (google BEAST or r8s if you do not know how to do it), 
            if you have un-time-calibrated phylogenetic trees, please use <a href = "/ptp/">PTP model</a>.
        </h5>
        </p>
        
    </div>
    <p>
    <form action="/gmyc/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ pform.as_p }}
    <input type="submit" value="Submit" />
    </form>
    </p>
{% endblock %}
